body {
  background-color: #e8e1d7 !important;
}
/* FOOTER */

/* ho creato una classe per il css del footer */
/* .footer a{
text-decoration: none;
color: rgb(52, 52, 52);

}
.footer a i {
  font-size: 30px;
}
.footer-links {
  align-items: flex-start;
}
.bi-caret-down-fill{
  font-size: 12px !important;
}  */